/* FONTS */
@font-face{ font-family: roboto; src: url('./styles/res/font/Roboto-Regular.ttf');}
@font-face{ font-family: robotoC; src: url('./styles/res/font/RobotoCondensed-Regular.ttf'); }
@font-face{ font-family: bacalist; src: url('./styles/res/font/RodwickPersonalUse-BWdD3.otf'); }
@font-face{ font-family: PT; src: url('./styles/res/font/PTSans-Regular.ttf'); }

/* VARIABLES */
:root{
  --green-dark: #008D6A;
  --green: #00BF7E;
  --green-secondary: #66D9AF;
  --green-light: #04D98B;
}

/* STYLES FOR ALL TAGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
