@font-face{
  font-family: roboto; src: url('./styles/res/font/Roboto-Regular.ttf');
}
@font-face{
  font-family: robotoC; src: url('./styles/res/font/RobotoCondensed-Regular.ttf');
}
@font-face{
  font-family: bacalist; src: url('./styles/res/font/RodwickPersonalUse-BWdD3.otf');
}
:root{
  --green-dark: #065446;
  --green: #158467;
  --green2: #197163;
  --green-light: #519872;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}